.img_fondo{
    height: 100vh;
    image-rendering: auto;
}
body{
    background-color: cadetblue;
}
.fpantalla{
    background-image: url("img/img_fondo6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fpantalla2{
    background-image: url("img/fondo_reg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nosotros{
    display: flex;
    flex-direction:row;
    /*background-color: green;*/
    flex-wrap:wrap;
    /*justify-content: space-between;*/
    background-image: url("img/imagen_fondo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nosotros_titulo{
    width: 100%;
    display: flex;
    flex-direction:row;
    /*background-color: green;*/
    flex-wrap:wrap;
    justify-content: space-around;
}
.nosotros_det{
    width: 700px;
    display: flex;
    flex-direction:row;
    /*background-color: green;*/
    flex-wrap:wrap;
    justify-content: space-around;
}
.img_chiloe{
    width: 300px;
    display: flex;
    flex-direction:row;
    /*background-color: green*/
    flex-wrap:wrap;
    justify-content: center;
}
.contenedor_prod{
    display: flex;
    flex-direction:row;
    background-color: white;
    flex-wrap:wrap;
    justify-content: space-around;
}

.titulo_pro{
    display: flex;
    flex-direction:row;
    background-color: white;
    flex-wrap:wrap;
    justify-content: center;
}
.producto1{
    width: 200px;
    background-color: white;
}
.producto2{
    width: 200px;
    background-color: white; 
}
.producto3{
    width: 200px;
    background-color: white;
}
.producto4{
    width: 200px;
    background-color: white;
}
.producto5{
    width: 200px;
    background-color: white;
}
.producto6{
    width: 200px;
    background-color: white;
}
.contenedor_fot{
    display: flex;
    flex-direction:row;
    background-color: burlywood;
    flex-wrap:wrap;
    justify-content: space-around;
}

.direcciones{
    width: 200px;
    background-color: burlywood;
}
.despachos{
    width: 250px;
    background-color: burlywood;
}
.fpago{
    width: 200px;
    background-color: burlywood;
}
.redes_soc{
    width: 200px;
    background-color: burlywood;
}
.contenedor_prod div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer li{
    list-style-type: none;
}